<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Drupal Unit Test Suite">
      <directory>./tests/*</directory>
      <!--<directory>./modules/*/tests/*</directory>
      <directory>../modules/*/tests/*</directory>
      <directory>../sites/*/modules/*/tests/*</directory>-->
    </testsuite>
  </testsuites>
</phpunit>

